/* GENERALS */

::-webkit-input-placeholder {
  color:#7C6F6A;
  opacity:1;
  overflow:visible; /* webkit only :( */
  line-height:inherit;
}

::-moz-placeholder {
  color:#7C6F6A;
  opacity:1;
  line-height:inherit;
}

:-moz-placeholder {
  color:#7C6F6A;
  opacity:1;
  line-height:inherit;
}

:-ms-input-placeholder {
  color:#7C6F6A;
  opacity:1;
  line-height:inherit;
}

:placeholder {
  color:#7C6F6A;
  opacity:1;
  line-height:inherit;
}

:focus::-webkit-input-placeholder {color:#AC9A93 !important}
:focus::-moz-placeholder {color:#AC9A93 !important}
:focus:-moz-placeholder {color:#AC9A93 !important}
:focus:-ms-input-placeholder {color:#AC9A93 !important}
:focus:placeholder {color:#AC9A93 !important}

html {
  font:normal normal 13px/1.3846153846153846em "Droid Serif",Georgia,"URW Bookman L",Serif;
  overflow-y:scroll;
  overflow-x:hidden;
}

body {
  background-color:#FAF5F2;
  color:#222;
}

a {
  color:#7C0201;
  text-decoration:none;
}

a:focus,
a:hover {color:#346519}

.code,code,pre {font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace}

pre {
  background-color:#DEEBF9;
  color:#4B5867;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

code {font-size:96%}

.blog-wrapper {
  width:700px;
  padding-top:264px;
  margin: 0 auto;
  background:white url('../object/run-away.png') no-repeat 50% 0;
  position:relative;
}

.main-wrapper {
  padding:5%;
  position:relative;
}

.footnotes {margin-top:1.3846153846153846em}
.footnotes ol {font-size:84%}

.footnotes hr {
  border-style:solid;
  width:7em;
}


/* MISCELLANEOUS */

button,
input,
select,
textarea,
.btn {
  border:1px solid #DBCEC9;
  border-top-color:#BFAFAA;
  background-color:#F5EEEA;
  color:black;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  background-color:#313131;
  border-color:transparent;
  border-bottom-color:rgba(0,0,0,.25);
  color:white;
  background-image:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image:-ms-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image:-o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.4);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,.4);
  box-shadow:0 1px 1px rgba(0,0,0,.4);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.btn:focus,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn:hover {
  background-color:#353535;
  color:white;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.btn:active {
  background-color:#2D2D2D;
  border-color:transparent;
  -webkit-box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
  -moz-box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
  box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
}

.btn-action {background-color:#2C466A}
.btn-action:focus,
.btn-action:hover {background-color:#304C72}
.btn-action:active {background-color:#284062}
.btn-accept,
.btn-begin,
.btn-construct {background-color:#495D19}
.btn-accept:focus,
.btn-accept:hover,
.btn-begin:focus,
.btn-begin:hover,
.btn-construct:focus,
.btn-construct:hover {background-color:#4F641B}
.btn-accept:active,
.btn-begin:active,
.btn-construct:active {background-color:#435617}
.btn-danger,
.btn-destruct,
.btn-error,
.btn-reject {background-color:#6A2E2E}
.btn-danger:focus,
.btn-danger:hover,
.btn-destruct:focus,
.btn-destruct:hover,
.btn-error:focus,
.btn-error:hover,
.btn-reject:focus,
.btn-reject:hover {background-color:#723232}
.btn-danger:active,
.btn-destruct:active,
.btn-error:active,
.btn-reject:active {background-color:#622A2A}

.table-bordered th,
.table-bordered td,
table[border="1"] th,
table[border="1"] td,
hr {border-color:#DBCEC9}

.form-label,
.form-static {border-top:1px solid transparent}


/* LOGIN */

.form-login {padding:5% 0}
.form-login button .fa {display:none}

/* HEADER */

.blog-header {
  position:absolute;
  top:0;
  right:0;
  left:0;
  padding:5%;
  text-shadow:0 1px 4px rgba(0,0,0,.8);
}

.blog-header h1 {
  margin:0;
  padding:0;
  font-size:250%;
  font-family:"Playball","Droid Serif",Georgia,"URW Bookman L",Serif;
  color:white;
  letter-spacing:-1px;
}

.blog-header h1 a {color:inherit}

.blog-header .blog-slogan {
  font-style:italic;
  color:#E0FF17;
}


/* NAVIGATION */

.blog-navigation {
  background-color:black;
  background-image:-webkit-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-moz-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-ms-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-o-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  color:white;
  height:3em;
  line-height:3em;
  position:relative;
}

.blog-navigation ul,
.blog-navigation li {
  margin:0;
  padding:0;
  list-style:none;
}

.blog-navigation li {
  float:left;
  display:inline;
  position:relative;
}

.blog-navigation a {
  display:block;
  color:inherit;
  padding:0 1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.blog-navigation a:focus,
.blog-navigation a:hover,
.blog-navigation li:hover > a {
  background-color:#F2E336;
  background-image:-webkit-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-moz-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-ms-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-o-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  color:black;
}

.blog-navigation .current a {
  background-color:#F2D14B;
  background-image:-webkit-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-moz-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-ms-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-o-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  color:black;
}

.blog-navigation li ul {
  position:absolute;
  top:100%;
  left:0;
  z-index:9999;
  background-color:black;
  width:170px;
  -webkit-box-shadow:0 1px 6px rgba(0,0,0,.6);
  -moz-box-shadow:0 1px 6px rgba(0,0,0,.6);
  box-shadow:0 1px 6px rgba(0,0,0,.6);
  display:none;
}

.blog-navigation li ul a {
  background-image:-webkit-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-moz-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-ms-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:-o-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  background-image:linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
}

.blog-navigation li ul ul {
  top:0;
  left:100%;
}

.blog-navigation li li {
  float:none;
  display:block;
  line-height:2.5em;
  height:auto;
  font-size:96%;
}

.blog-navigation li li li {font-size:100%}
.no-js .blog-navigation li:hover > ul {display:block}

.blog-navigation .blog-navigation-toggle,
.blog-navigation .blog-navigation-toggle:focus,
.blog-navigation .blog-navigation-toggle:hover {
  position:absolute;
  top:0;
  right:0;
  width:3em;
  height:3em;
  background:none;
  color:white;
  padding:0;
}

.blog-navigation .blog-navigation-toggle {display:none}

.blog-navigation .blog-navigation-toggle span {
  display:block;
  border-top:.2em solid;
  margin:.3em .8em 0;
}

.blog-navigation .blog-navigation-toggle span:first-child {margin-top:.98em}
.blog-navigation .blog-navigation-toggle.active span {color:#F2E336}


/* POSTS */

.post-body {margin-top:1.3846153846153846em}
.post-footer {margin:5% 0}

.post-index {margin:0 0 5%}
.post-index .post-title {font-size:150%}

.post-time {
  color:#766C67;
  border-left:4px solid #DBCEC9;
  padding-left:.8em;
}

.page-404 .post {text-align:center}


/* PAGER */

.blog-pager {overflow:hidden}
.blog-pager-prev {float:left}
.blog-pager-next {float:right}


/* COMMENTS */

.comments {margin:5% 0 0}

.comment-list {
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}

.comment {
  margin:0;
  padding:1em 0 1em 1em;
  border-left:5px solid transparent;
  overflow:hidden;
}

.comment + .comment {margin-top:2px}

.comment-pilot {border-left-color:#DBCEC9}

.comment-intruder {
  opacity:.4;
  pointer-events:none;
}

.comment-avatar {
  width:60px;
  height:60px;
  float:left;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  overflow:hidden;
}

.comment-avatar img {
  display:block;
  width:inherit;
  height:inherit;
  max-width:none;
  max-height:none;
  -webkit-border-radius:inherit;
  -moz-border-radius:inherit;
  border-radius:inherit;
}

.comment-avatar + .comment-header,
.comment-avatar + .comment-header + .comment-body,
.comment-avatar + .comment-header + .comment-body + .comment-footer {
  margin-left:60px;
  padding-left:1.3846153846153846em;
  overflow:hidden;
}

.comment-header,
.comment-body {
  margin-bottom:.6153846153846154em;
  overflow:hidden;
}

.comment-footer {text-align:right}

.comment-name {
  display:block;
  float:left;
  font-weight:bold;
}

.comment-time {
  display:block;
  float:right;
  color:#AAA;
}

.comment-form {margin:5% 0 0}
.comment-form input[name="math"] {width:4em}


/* FOOTER */

.blog-footer {
  background-color:black;
  color:white;
  padding:2% 2.8%;
  overflow:hidden;
}

.blog-footer a {color:#F2E336}

.blog-footer-left {float:left}
.blog-footer-right {float:right}

.column-bottom-group {
  margin:5% 0 0;
  border-top:1px dashed #DBCEC9;
}

.column-bottom {margin-top:5%}


/* WIDGETS */

.widget-content {margin:1.3846153846153846em 0}
.widget-search input {width:160px}


/* TEXT */

.text-fade {color:#AC9A93}
.text-accept,
.text-begin,
.text-construct {color:#495D19}
.text-info {color:#3C73A6}
.text-warning {color:#AD5027}
.text-danger,
.text-destruct,
.text-error,
.text-reject {color:#6A2E2E}


/* MESSAGES */

.message {
  background-color:#EEE;
  color:#8F8F8F;
}

.message-success {
  background-color:#EDF5C4;
  color:#8E9376;
}

.message-info {
  background-color:#E0E8FF;
  color:#868B99;
}

.message-warning {
  background-color:#FCEDE0;
  color:#978E86;
}

.message-error {
  background-color:#FCDBDB;
  color:#978383;
}


/* SMALLER SCREEN */

@media (max-width:846px) {
  .blog-navigation {
    height:auto;
    padding-top:3em;
    background-image:none;
  }
  .blog-navigation li {
    float:none;
    display:block;
  }
  .blog-navigation ul {display:none}
  .blog-navigation .blog-navigation-toggle,
  .mobile-menu-is-active .blog-navigation ul {display:block}
  .mobile-menu-is-active .blog-navigation ul li {height:auto}
  .mobile-menu-is-active .blog-navigation ul ul {
    position:static;
    width:auto;
    display:block !important;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }
  .column-bottom-group .column-bottom {
    float:none;
    display:block;
    width:auto;
    margin-right:0;
    margin-left:0;
  }
  .column-bottom-group .column-bottom-right {margin-top:1.3846153846153846em}
}

@media (max-width:700px) {
  .blog-wrapper {width:auto}
  .grid-group .grid {
    float:none;
    display:block;
    width:auto;
    margin-right:0;
    margin-left:0;
  }
  .grid-group .form-label {
    text-align:left;
    margin-bottom:1.3846153846153846em;
  }
}