/* MANAGER BAR */

.widget-manager-bar {
  position:absolute;
  top:0;
  right:0;
  z-index:10;
  height:2em;
  line-height:2em;
  background-color:black;
  color:white;
  padding:0 .6em;
}

.widget-manager-bar {color:#F2E336}


/* MANAGER MENU */

.widget-manager-menu {
  margin:0 0 5%;
  line-height:2.5em;
  position:absolute;
  top:0;
  left:100%;
  margin-left:.5em;
}

.widget-manager-menu ul,
.widget-manager-menu li {
  margin:0;
  padding:0;
  list-style:none;
}

.widget-manager-menu a {
  display:block;
  width:2.5em;
  height:2.5em;
  margin:0 0 .5em;
  background-color:#F5EEEA;
  color:#7C6F6A;
  border:2px solid white;
  text-align:center;
  position:relative;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,.1);
  box-shadow:0 1px 2px rgba(0,0,0,.1);
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
}

.widget-manager-menu .label {
  position:absolute;
  top:50%;
  right:100%;
  z-index:999;
  background-color:#222;
  border-color:#222;
  color:white;
  height:2em;
  line-height:2em;
  padding:0 .6em;
  margin:-1em .6em 0 0;
  white-space:nowrap;
  -webkit-box-shadow:0 4px 5px -2px rgba(0,0,0,.4);
  -moz-box-shadow:0 4px 5px -2px rgba(0,0,0,.4);
  box-shadow:0 4px 5px -2px rgba(0,0,0,.4);
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display:none;
}

.widget-manager-menu .label:before {
  content:"";
  display:block;
  width:0;
  height:0;
  border:4px solid transparent;
  border-left-color:inherit;
  position:absolute;
  top:50%;
  right:-8px;
  margin-top:-4px;
}

.widget-manager-menu a:focus,
.widget-manager-menu a:hover {
  background-color:#FAF5F2;
  color:#554D48;
}

.widget-manager-menu a:focus .label,
.widget-manager-menu a:hover .label {display:block}

.widget-manager-menu .selected a {
  background-color:#DBCEC9;
  color:#554D48;
}


/* MEDIA */

.media {border-color:#DBCEC9}


/* LIST */

.page-time {color:#766C67}


/* TAB */

.tab,
.tab:focus,
.tab:hover {
  color:#7C6F6A;
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0;
  border-radius:4px 4px 0 0;
}

.tab.active {color:inherit}

.tab,
.tab.active:before,
.tab.active:after {
  border-color:#DBCEC9;
  background:white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAfBAMAAADU57pRAAAAG1BMVEX9+/v7+Pf69fP28Oz////48vD07Ojz6uX17uops5KuAAAAIUlEQVQI12NwYCgAwwQwbABCAygMAEMFKBSAQjgA6nQAABEtBqHudYomAAAAAElFTkSuQmCC') repeat-x 0 0;
}

.tab abbr,
.tab dfn {border:none}


/* CHECKBOX & RADIO */

.checkbox,
.radio {color:#BFAFAA}

label:hover .checkbox,
label:hover .radio,
.checkbox:focus,
.radio:focus,
.checkbox:hover,
.radio:hover,
.checkbox.checked,
.radio.checked {color:#7C716C}


/* POST EDITOR */

.editor-toolbar a {
  border:1px solid #DBCEC9;
  background:white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAfBAMAAADU57pRAAAAG1BMVEX9+/v7+Pf69fP28Oz////48vD07Ojz6uX17uops5KuAAAAIUlEQVQI12NwYCgAwwQwbABCAygMAEMFKBSAQjgA6nQAABEtBqHudYomAAAAAElFTkSuQmCC') repeat-x 0 0;
  color:#7C0201;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}


/* TOOLTIP */

.tooltip {
  background-color:#222;
  border-color:#222;
}


/* ABOUT PAGE */

.about-title {
  background-color:#D3D8AF;
  color:#7F8269;
}

.about-author {
  background-color:#E3E8BC;
  color:#888B74;
}


/* SMALLER SCREEN */

@media (max-width:800px) {
  .widget-manager-menu {
    position:static;
    text-align:center;
  }
  .widget-manager-menu ul {*zoom:1}
  .widget-manager-menu ul:after {
    content:" ";
    display:table;
    clear:both;
  }
  .widget-manager-menu li {
    display:inline-block;
    margin:0;
  }
  .widget-manager-menu li + li {
    margin-left:.4em;
  }
  .widget-manager-menu a {display:inline-block}
  .widget-manager-menu .fa + span {
    top:auto;
    right:auto;
    bottom:100%;
    left:-.2em;
  }
  .widget-manager-menu .fa + span:before {display:none}
}

@media (max-width:610px) {
  .widget-manager-bar {
    left:0;
    background:none;
    background-color:rgba(0,0,0,.2);
    border-bottom:1px solid;
  }
  .blog-header {margin-top:2em}
}

@media (max-width:580px) {
  .widget-manager-menu li {width:50%}
  .blog-wrapper .tab-area {height:auto}
  .blog-wrapper .tab {
    float:none;
    display:block;
    width:auto;
    margin:0 0 2px;
    border:1px solid #DBCEC9;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
  }
  .blog-wrapper .tab.active:before,
  .blog-wrapper .tab.active:after {display:none}
}